{% extends "layout.html" %}
{% block content %}

<h1>Crear Empleado</h1>
<form method="POST" action="">
    {% csrf_token %}
    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" name="nombre" required> <br>

    <label for="fecha_nacimiento">Fecha de Nacimiento: </label>
    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required> <br>

    <label for="antiguedad">Antigüedad: </label>
    <input type="number" id="antiguedad" name="antiguedad" required> <br>

    <label for="departamento">Departamento: </label>
    <select id="departamento" name="departamento_id">
        {% for departamento in departamentos %}
            <option value="{{departamento.id}}">{{ departamento.nombre }}
            </option>
        {% endfor %}
    </select><br>

    <label for="habilidades">Habilidades:</label><br>
        {% for habilidad in habilidades %}
            <input type="checkbox" name="habilidades" value="{{ habilidad.id }}">
            {{ habilidad.nombre }}<br>
        {% endfor %}
    <button type="submit">Crear</button>
</form>
{% endblock %}